<mat-card class='col-lg-4 col-lg-push-4 col-md-6 col-md-push-3 col-sm-8 col-sm-push-2 col-xs-10 col-xs-push-1'>

	<mat-card-header class='text-center'>
		<mat-card-title>Login</mat-card-title>
		<mat-card-subtitle>Just Click Login</mat-card-subtitle>
	</mat-card-header>

	<mat-card-content>

		<mat-form-field class="col-xs-12">
			<input matInput placeholder="Username">
		</mat-form-field>

		<mat-form-field class="col-xs-12">
			<input matInput placeholder="Password">
		</mat-form-field>

	</mat-card-content>

	<mat-card-actions class='text-center'>
		<button mat-button (click)='login()'>Login</button>
	</mat-card-actions>

</mat-card>